@import "./variables";

.x-content-wrapper {
  padding: $header-height 0 0 $sidebar-width;
}

.x-content {
  padding: 10px;
}

.page-title {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
