@import "./variables";

.x-dd-box {
  position: fixed;
  top: 0;
  left: -500px;
  padding-top: $header-height;
  width: 400px;
  height: 260px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 0 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 15px -5px rgba(0,0,0,0.75);
  box-shadow: 0 0 15px -5px rgba(0,0,0,0.75);
}

.x-dd-box .content {
  height: 100%;
  width: 100%;
}

.x-dd-box h1, .x-dd-box h2, .x-dd-box h3 {
  text-align: center;
  padding: 20px 10px;
}
