@import "./variables";

.x-hdr {
  display: flex;
  position: fixed;
  height: $header-height;
  min-width: 100%;
  background: $first-header-color;
  z-index: 10000;
  -webkit-box-shadow: -1px -2px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -2px 10px 2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -2px 10px 2px rgba(0, 0, 0, 0.75);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.x-sbr-tgl {
  position: relative;
  min-width: 40px;
  height: $header-height;
  padding: 0 5px;
  line-height: $header-height;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.x-logo-wpr {
  position: relative;
  height: $header-height;
  width: calc(#{$sidebar-width} - 40px);
  z-index: 1;
}

.x-logo {
  margin-left: -40px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.x-logo a {
  color: white;
  text-align: center;
}

.x-logo a span {
  line-height: $header-height;
}

.x-hdr-nav-wpr {
  position: relative;
  flex: 1;
  flex-shrink: 0;
}

.x-hdr-nav {
  float: right;
  height: $header-height;
  width: 100%;
  white-space: nowrap;
}

.x-hdr-lst {
  position: relative;
  height: $header-height;
  white-space: nowrap;
}

.x-hdr-lst .x-itm {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  min-width: 40px;
  color: white;
  line-height: $header-height;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 0 5px;
}

.x-hdr-lst .x-itm .x-ups {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 15px;
  background: $updates-color;
  text-align: center;
  color: #ffffff;
  line-height: 15px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 4px 4px 0 0;
}

.x-hdr-lst .x-itm a {
  display: block;
  color: white;
}

.x-hdr-lst .x-itm input {
  background: white;
  height: 30px;
  padding: 2px 5px;
  border-radius: 3px;
}

