* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    list-style: none;
}

*:focus {
    outline: 0;
}

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4d4d4d;
}

.x-wpr {
    background: #f3f3f3;
    min-height: 100vh;
}
