@import "./variables";

@media (min-width: 1023px) {
  .x-sidebar-closed {
    width: $sidebar-close-desktop-width;
  }

  .x-content-wrapper-full {
    padding: $header-height 0 0 $sidebar-close-desktop-width !important;
  }
}

@media (max-width: 1023px) {
  .x-content-wrapper {
    padding: $header-height 0 0 0 !important;
  }

  .x-content-wrapper-full {
    padding: $header-height 0 0 0 !important;
  }

  .x-sidebar-closed {
    display: none;
  }
}

@media (max-width: 825px) {
  .x-hdr-nav-wpr {
    -webkit-box-shadow: inset 45px 9px 25px -55px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 45px 9px 25px -55px rgba(0,0,0,0.75);
    box-shadow: inset 45px 9px 25px -55px rgba(0,0,0,0.75);
  }
}

@media (max-width: 480px) {
  .x-logo-wpr {
    position: relative;
    height: $header-height;
    width: 100%;
  }

  .x-sbr ul li {
    width: 100%;
  }

  .x-dd-box {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .x-stream {
    width: 100%;
  }

  .x-sbr {
    width: $sidebar-width-mobile;
  }

  .x-sbr-nav .x-itm .x-icon {
    width: 20%;
  }

  .x-sbr-nav .x-itm .x-title {
    width: 60%;
  }
}
