@import "./variables";

.x-sbr {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  padding-top: $header-height;
  background: $first-sidebar-color;
  z-index: 9999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.x-sbr-hdr {
  position: relative;
  -webkit-box-shadow: 0 22px 15px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 22px 15px -24px rgba(0,0,0,0.75);
  box-shadow: 0 22px 15px -24px rgba(0,0,0,0.75);
  z-index: 9;
}

.x-sbr-ctrl {
  display: flex;
  width: 100%;
  height: 35px;
}

.x-sbr-ctrl .x-itm {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  color: #eaeaea;
  text-align: center;
  cursor: pointer;
}

.x-sbr-hdr > .x-itm {
  display: none;
}

.x-search {
  padding: 10px 10px 10px 10px;
  overflow: auto;
  color: white;
}

.x-search h3 {
  padding: 0 5px 10px 5px;
  font-size: 14px;
}

.x-search form input {
  width: 100%;
  height: 33px;
  padding: 8px 5px 8px 10px;
  background: #ffffff;
  border: none;
  border-radius: 3px 3px 0 0;
}

.x-search form button {
  width: 100%;
  height: 25px;
  line-height: 25px;
  background: #99ef50;
  font-size: 12px;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
  color: #2a2a2a;
}

.x-profile {
  padding: 10px;
  overflow: hidden;
}

.x-profile img {
  float: left;
}

.x-profile .x-profile-info {
  float: left;
  padding: 0 8px;
  margin-left: 10px;
  border-left: 1px solid white;
}

.x-profile .x-profile-info .greeting {
  font-size: 14px;
  color: #ffffff;
}
.x-profile .x-profile-info .detail {
  padding: 5px 0;
  font-size: 12px;
  color: #d9d9d9;
}

.x-profile .x-profile-info .detail span {
  font-size: 12px;
  color: #bdbdbd;
}


.x-sbr ul li {
  min-height: 35px;
  color: white;
  cursor: pointer;
  list-style: none;
}

.x-sbr-nav .x-itm {
  position: relative;
  width: 100%;
  min-height: 35px;
  line-height: 35px;
  cursor: pointer;
  overflow: hidden;
}

.x-sbr-nav .x-itm .resource {
  overflow: hidden;
}

.x-sbr-nav .x-itm .resource:hover:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 20px;
  width: 5px;
  background: #ffffff;
  border-radius: 0 3px 3px 0;
}

.x-sbr-nav .x-itm.x-acv:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  width: 5px;
  background: #62eb34;
  border-radius: 0 3px 3px 0;
}

.x-sbr-nav .x-itm .x-icon{
  float: left;
  min-height: 35px;
  line-height: 35px;
  width: 40px;
  text-align: center;
  font-size: 12px;
}

.x-sbr-nav .x-itm .x-title{
  float: left;
  position: relative;
  min-height: 35px;
  line-height: 35px;
  font-size: 14px;
  width: 170px;
}

.x-sbr-nav .x-itm a {
  width: 100%;
  color: #e9e9e9;
}

.x-sbr-nav .x-sub {
  display: none;
  width: 100%;
  min-height: 35px;
}
