@import "./variables";

.x-stream {
  display: none;
  position: fixed;
  width: $stream-width;
  height: 100%;
  right: 0;
  bottom: 0;
  padding-top: $header-height;
  background: #687e90;
  cursor: default;
  z-index: 7;
  -webkit-box-shadow: 0 0 12px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 12px -2px rgba(0,0,0,0.75);
  box-shadow: 0 0 12px -2px rgba(0,0,0,0.75);
}

.x-stream .content {
  height: 100%;
  width: 100%;
}

.x-stream h1, .x-stream h2, .x-stream h3 {
  color: white;
  text-align: center;
  padding: 20px 10px;
}
