@import "./variables";

.x-hide {
  display: none!important;
}

.x-updates {
  font-size: 10px;
  background: $updates-color;
  padding: 3px;
  border-radius: 9px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll {
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.somebox {
  width: 100%;
  height: 200px;
  background: lightseagreen;
  margin-bottom: 5px;
}
