$first-header-color: #b761ff;
$first-sidebar-color: #3c4d5a;
$updates-color: #d93510;
$header-height: 60px;
$sidebar-width: 250px;
$sidebar-width-mobile: 100%;
$sidebar-width-negative: -217px;
$sidebar-close-desktop-width: 40px;
$stream-width: 320px;
